*{
    
    font-family: 'Courier New', Courier, monospace;
    font-size:15px ;
}
body{
    color:black;  
margin: 0%;
}
header{
    background-color: rgba(0, 110, 255, 0.822);
    
    height: 100vh;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    

}

h1{
    color: blue;
    font-size: 3rem;
}
header h1{
    text-align: center;
    color: black;
}
.button{
    margin: 14px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    height: 50px;
    width: 100px;
    border: 0cap;
    transition:all 3s ease 0s;


}
.button:hover{
    color: white;
background-color: rgba(30, 6, 100, 0.822);
transform: translateY(-7px);


}
img{
    height:300px;
    width: 200px;
    
     ;
}

section{
    height: 100vh;
    border: 1px solid grey;
    border-radius: 7px;
    margin-bottom: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
padding: 7px;
}
.submit{
    
    border: 0cap;
    border-radius: 5px;
    height: 50px;
    width: 70px; 
    cursor: pointer;
    color:black;
    background-color:  rgba(0, 110, 255, 0.822);
}
.submit:hover{
    background-color: rgba(7, 49, 104, 0.822) ;
    color: white;

}
form div{
    margin: 10px 0px;
}

input{
    border-radius: 5px;
    height: 25px;
    border: solid lightgray;
    color: white;
    

}
.top{
    border-radius: 70px;
    height: 70px;
    width: 70px;
    color:black ;
    background-color:rgba(0, 110, 255, 0.822) ;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
    cursor: pointer;

}
footer{
    color: white;
    background-color: black;
    height: 100px;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



